body {
    margin: 0;
    font-family: Lato, sans-serif;
}
nav {
    position: fixed;
    top: 0;
    width: calc(100vw - 40px);
    z-index: 10;
    background: #C94231;
    padding: 10px 20px;
}
.caption div {
    width: 100vw;
    max-width: 800px;
    margin: auto;
}
.parralax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    position: absolute;
    left: 0;
    top: calc(50% - 39px);
    width: 100%;
    text-align: center;
}
.center h1 {
    display: inline;
    font-weight: normal;
    background-color: #C94231;
    color: white;
    padding: 30px;
}
.caption {
    background: white;
    padding: 40px;
    border-top: 10px #C94231 solid;
}
h1 {
    font-family: Oswald, monospace;
    letter-spacing: 5px;
    color: #C94231;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    color: #C94231;
    margin: 40px 20px 20px;
}
p {
    color: white;
    margin: 20px;
    text-align: justify;
}
a {
    color: #C94231;
}
.caption div p {
    color: #C94231;
}
.logo {
    float: left;
    height: 29px;
}
.logo img {
    height: 29px;
}
.jumps {
    color: white;
    float: right;
    padding: 5px;
}
.jumps ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    top: 10px;
    right: 0;
}
.jumps ul li {
    padding: 15px;
    display: inline;
    transition: background 0.2s;
}
.jumps ul li:hover {
    background: white;
}
.jumps ul li a {
    color: white;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 16px;
}
.jumps ul li:hover a {
    color: #C94231;
}
.object {
    width: calc(100% - 20px);
    margin: 20px 20px 0;
}
.accordion div {
    overflow: hidden;
    height: 0;
    transition: height 0.2s ease-out;
}
.accordion button {
    width: calc(100% - 20px);
    margin: 2px 20px;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: #EEE;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 14px;
}
.accordion button:hover {
    background-color: #DDD;
}
footer div div p {
    text-align: center;
}
dl dt, dl dd {
    padding: 10px;
    color: #C94231;
}
dt::before {
    content: "Q: "
}
dt {
    font-weight: bold;
}
dd::before {
    content: "A: "
}
dd {
    margin-left: 20px;
}
footer .caption {
    padding: 10px;
}
